

.board{
  padding: 20px;
}

.row{
  display: flex;
}

.block{
  width: 100px;
  height: 100px;
  border: 1px solid;
  font-weight: bolder;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}