* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: radial-gradient(circle at top, #1c1c1c, #0f0f0f);
    color: #eaeaea;
    min-height: 100vh;
}

/* LOGIN PAGE */
.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-card {
    background: #161616;
    width: 350px;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 20px 60px rgba(0,0,0,0.8);
}

.login-card h2 {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.login-card p {
    text-align: center;
    font-size: 14px;
    color: #aaa;
    margin-bottom: 25px;
}

.login-card label {
    font-size: 13px;
    color: #bbb;
}

.login-card input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 18px;
    border-radius: 8px;
    border: none;
    background: #242424;
    color: #fff;
}

.login-card input:focus {
    outline: 1px solid #ff9800;
}

.login-card button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #ff9800, #ff5722);
    border: none;
    border-radius: 30px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

.login-card button:hover {
    opacity: 0.9;
}

/* DASHBOARD */
.dashboard {
    padding: 0px 100px 0px 100px;
}

.navbar {
    background: #151515;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 22px;
    letter-spacing: 1px;
}

.navbar button {
    background: #ff5722;
    border: none;
    color: black;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.section-title {
    margin: 30px 0 15px;
    font-size: 18px;
    color: #ff9800;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.product-card {
    background: #181818;
    border-radius: 18px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.6);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-6px);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
}

.product-info h3 {
    font-size: 16px;
    margin-bottom: 6px;
}

.product-info p {
    font-size: 14px;
    color: #bbb;
}

.price {
    margin-top: 10px;
    color: #ff9800;
    font-weight: bold;
}
